@import 'src/styles/_theme.scss';

.db {
  display: flex;

  &.container {
    flex-direction: row;
  }

  &.primary-container {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &.secondary-container {
    width: 80%;
    margin: 1em;
    color: $textColor;
    @include center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &.session-result {
    width: 50%;
  }
}

