@import 'src/styles/_theme.scss';

.result {

  &.p {
    font-size: 15px;
    text-align: center;
    margin: 0;
  }

  &.h1 {
    font-size: 40px;
    text-align: center;
    margin: 15px 0 0;
    &.profit {
      color: $buttonBackgroundColorLong;
    }
    &.loss {
      color: $buttonBackgroundColorShort;
    }
  }

  &.h2 {
    font-size: 18px;
    text-align: center;
    margin: 10px 0 0;
    &.long {
      color: $buttonBackgroundColorLong;
      text-transform: uppercase;
    }
    &.short {
      color: $buttonBackgroundColorShort;
      text-transform: uppercase;
    }
  }

  &.button-container {
    display: flex;
    justify-content: center;
    margin-top: 1em;
  }
}