@import 'src/styles/_theme.scss';

.gl {

  &.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &.primary-container {
    width: 100vw;
    flex-direction: column;
    display: flex;
  }

  &.secondary-container {
    margin: 1em;
    color: $textColor;
    @include center;
    flex-direction: column;
    display: flex;
  }

  &.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2em;
    width: 20%;
  }
}

.joined-users-table {
  width: 50%;
}

.pieChart-container {
  height: 150px;
  padding-top: 10px;
}