@import 'src/styles/_theme.scss';

$paddingField: 9px 9px 9px 11px;

.table {
  margin: 0;
  min-width: 200px;
  border-collapse: collapse;

  thead {
    //border-radius: 10px;
  }

  // table row (header & body)
  tr {
    background-color: $tableHeaderColour;
    color: $textColor2;
    //border: 2px solid #ffffff;
  }

  // header cell
  th {
    //border: 2px solid #ffffff;
    padding: 10px;
    text-align: left;
  }
}


.user-overview {
  color: $textColor;
  padding: 0;

  // body cell
  td {
    padding: $paddingField;
  }

  // body row
  &.row {
    background: $tableBackgroundColour;
    height: 40px;
    //border: 2px solid #ffffff;


    &:hover {
      background-color: #847cb2;
      transition: all 0.3s ease;
      border-radius: 10px;
    }
  }

  &.id {

  }

  &.username {

  }

  &.status {

  }
}


/*
    <table>   defines a table
    <thead>   groups the header content
    <tbody>   groups the body content
    <tfoot>   groups the footer content
    <tr>      tag defines a row
    <th>      tag defines a header cell
    <td>      tag defines a standard cell
 */
