@import 'src/styles/_theme.scss';


.table-container {
  color: $textColor;
  margin-top: 2em;
  padding: 1em;
  @include center;
  flex-direction: column;
  margin-left: 240px;

  h2 {
    padding-left: 10px;
  }
}

.table-wrapper {
  padding: 10px;
  background-color: $tableBackgroundColour;
  border-radius: 10px;
  box-shadow: $dropShadow;
}