/* Theme Colours of the Application */

$accent: #584a96;
$accentDark: #363062;

$textColor: #ffffff;
$textColor2: #c7c7c7;

$loginBackgroundColour: #7e73b9;
$registerBackgroundColour: #b1a0e5;
$sidebarBackgroundColour: #6f65ab;

$tableBackgroundColour: #6f65ab;
$tableHeaderColour: #5f5594;

$buttonBackgroundColor: #674594;
$buttonBackgroundColorHover: #8d69a2;
$buttonBackgroundColorHover2: #8253a1;
$buttonBackgroundColorLong: #5bb44a;
$buttonBackgroundColorLongHover: #4ed330;
$buttonBackgroundColorShort: #b44a4a;
$buttonBackgroundColorShortHover: #ec2d2d;
$buttonBackgroundColorPowerup: #b69e40;
$buttonBackgroundColorPowerupHover: #d7c256;

/* some constants */

$DESKTOP_WIDTH: 1160px;
$SMALL_LAPTOPS_WIDTH: 970px;
$TABLETS_WIDTH: 750px;
$SMALL_WIDTH: 768px;

/* some standard elements */
/* fonts */
$fontDefault: "M PLUS Rounded 1c", sans-serif;
$fontMono: "Roboto Mono", monospace;
$fontDefaultSize: 16px;

/* a standard drop shadow */
$dropShadow: 0 0.35em 0.35em rgba(0, 0, 0, 0.25);
$borderRadius: 0.75em;

/* mixins

  these allow you to create small snippets that you can insert with a one-liner in other stylesheets
  for an example, see styles/views/LoginRegister.scss
*/
@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}