@import 'src/styles/theme';

$paddingField: 9px 9px 9px 11px;

.table {
  width: 100%;  // <-- Table Width
  border-collapse: collapse;
  margin-bottom: 1em;

  // table row (header & body)
  tr {
    background-color: $tableHeaderColour;
    color: $textColor2;
    //border: 2px solid #ffffff;
  }

  // header cell
  th {
    //border: 2px solid #ffffff;
    padding: 10px;
    text-align: left;
    transition: color ease-in-out 0.2s;

    &.leaderboard {
      &:hover {
        color: white;
      }
    }
  }
}


.overview-content {
  margin: 0;
  padding: 0;
  color: $textColor;

  // body cell
  td {
    padding: $paddingField;
    //border: 2px solid #ffffff;
  }

  // body row
  &.row {
    background: $tableBackgroundColour;
    height: 40px;
    //border: 2px solid #ffffff;

    &:hover {
      background-color: #847cb2;
      transition: all 0.3s ease;
      border-radius: 10px;
    }
  }

  &.highlighted-row {
    background: $tableHighlightedRow;
    //border: 2px solid #e7bdf5;
  }

}

.clicked {
  transition: color 0.3s ease-in-out;
  color: #ffffff;
  //background-color: #6c61a4;
  font-weight: bolder;
}

.sevenColumns {
  width: calc(100% / 6);

  &.rank {
    width: 60px;
    border-right: 3px solid $tableHeaderColour;

    &.none {
      color: $tableHighlightedRow;
      font-size: 10.1px;
    }
  }
}

.fourColumns {
  width: calc(100% / 3);
}

.fiveColumns {
  width: calc(100% / 4);
}

// TODO
.powerup {
  float: right;
  right: 0;
}

h3.gameLobby {
  display: flex;
  justify-content: center;
}

/*
    <table>   defines a table
    <thead>   groups the header content
    <tbody>   groups the body content
    <tfoot>   groups the footer content
    <tr>      tag defines a row
    <th>      tag defines a header cell
    <td>      tag defines a standard cell
 */
